.hero-section {
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

button {
    padding: 15px 30px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #252292;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 0px;
}

.custom-text {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.Review {
  padding: 80px 50px;
  background-color: #f8faff;
  text-align: center;
}

.Review-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.review-card {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(78, 71, 255, 0.3);
  text-align: left;
  transition: transform 0.3s;
}

.review-card:hover {
  transform: translateY(-5px);
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

